<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="customerRepository"
          class="com.pluralsight.spring.framework.xml.repository.HibernateCustomerRepository"/>

    <!--<bean name="customerServiceSetterInjection"-->
          <!--class="com.pluralsight.spring.framework.xml.service.HardcodedCustomerService">-->
        <!--<property name="customerRepository" ref="customerRepository"/>-->
    <!--</bean>-->

    <!--<bean name="customerServiceConstructIndjection"-->
          <!--class="com.pluralsight.spring.framework.xml.service.HardcodedCustomerService">-->
        <!--<constructor-arg index="0" ref="customerRepository"/>-->
    <!--</bean>-->

    <!--<bean name="customerServiceAutowire"-->
          <!--class="com.pluralsight.spring.framework.xml.service.HardcodedCustomerService" autowire="constructor">-->
        <!--<constructor-arg type="com.pluralsight.spring.framework.xml.repository.HibernateCustomerRepository" ref="customerRepository"/>-->
    <!--</bean>-->

    <bean name="customerServiceAutowire1"
          class="com.pluralsight.spring.framework.xml.service.HardcodedCustomerService" autowire="constructor">
    </bean>
</beans>